
/*-----  styles du menu déroulant ------*/

.lm-wrapper {
    display: table;
    padding: 0;
    width: 100%;
    position: relative;
}
.lm-wrapper .lm-letters {
    display: table;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    width: 100%;
}
* html .lm-wrapper .lm-letters { zoom:1; } /* for IE6 menu appears under letters */

.lm-wrapper .lm-letters a {
    background: #ededed;
    background-image: -webkit-linear-gradient(top, #ededed, #e6e6e6);
    background-image: -moz-linear-gradient(top, #ededed, #e6e6e6);
    background-image: -ms-linear-gradient(top, #ededed, #e6e6e6);
    background-image: -o-linear-gradient(top, #ededed, #e6e6e6);
    background-image: linear-gradient(to bottom, #ededed, #e6e6e6);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-family: Arial;
    color: #707070;
    font-size: 13px;
    padding: 4px 8px;
    border: solid #d6d6d6 1px;
    text-decoration: none;
    margin: 0 8px;
    width: 28px;
    display: inline-block;
}

.lm-wrapper .lm-letters a:hover {
    background: #d9d9d9;
    text-decoration: none;
}

.lm-wrapper .lm-letters a.lm-disabled {
    color:#ccc;
}

.lm-wrapper .lm-letter-count {
    text-align:center;
    line-height:1;
    color:#717171;
}

.lm-wrapper .lm-menu {
    z-index:1000;
    position:absolute;
    margin-top:-1px;
    padding-top: 20px;
    left: -1px;
    background-color: #fff;
    border: 1px solid transparent;
    border-top-left-radius:0;
    border-top-right-radius:0;
    border-bottom-right-radius:4px;
    border-bottom-left-radius:4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.lm-wrapper .lm-menu ul li {
    list-style-type:none;
    margin-left: -15px;
}
.lm-wrapper .lm-menu a {
    text-decoration:none;
    color: #717171;
}
.lm-wrapper .lm-menu a:hover {
    text-decoration:none;
    color: #c9100c;
}
.lm-wrapper .lm-menu .lm-submenu {
    overflow:hidden;
}

.lm-menu.lm-menu-big{
    width: 100%;
    display: none;
}

.lm-menu .lm-menu-small {
    float: left;
    width: 16%;
}

.lm-menu .lm-menu-medium{
    width: 16%;
    float: left;
}
